<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">
            SHOP<span class="hub">HUB</span>
        </a>
        <nav>
            <ul>
                <li>
                    <span><a routerLink="/cart">Favorites</a></span>
                    <span><a routerLink="/cart">Cart</a></span>
                    <span><a routerLink="/cart">
                            <span>User</span>
                            <!-- <img class ="userImg" src="./../../assets/user.png"> -->
                        </a>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</header>